/* this sheet is the style of contact form part in the page contact.html*/

h4 {
  font-size: 30px;
}

.container--contact {
  display: flex;
  justify-content: center;
  padding: 150px;
}

.container--contact__form {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  align-items: center;
  margin-bottom: 110px;
}

.container--contact__controls {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  font-family: var(--principalfont);
  font-size: 18px;
  border: 1px solid rgb(226, 226, 226);
  background-color:  rgb(249 249 249);
}

.container--contact__button {
  width: 100%;
  border: none;
  padding: 15px;
  font-family: var(--principalfont);
  margin: 16px 0;
  font-size: 18px;
  background-color: #F4503E;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.container--contact__button:hover {
  background-color: #121A2D;
}

@media only screen and (min-width: 350px) and (max-width: 767px) {

  .container--contact {
    padding: 90px;
    margin-bottom: 200px;
  }

  .container--contact__form {
    width: 100%;
    margin-bottom: 50px;
  }
}
